dataset/
my_env/
yolo-Weights/
runs/
.venv
entornoTT/
Hands/
runs/
archive/
HandDetection/
videos_mejorados/
data_information/
informacion/
.informacion/
people/
people_dataset/
annotations/
runs.zip
dataset/
dataset\
datasetCSV/
resultados/
nuevoDatasetCSV/
datasetCSV_procesado/
comportamientos_env/
code/entrenamiento/resultados/
csv/
code/analisis/
analisis_exploratorio/
code/entrenamiento/resultados/
code/entrenamiento/results_enhanced/